.container {
  height: 100%;
}
.left-nav {
  float: left;
  width: 200px;
  height: 100%;
  border-right: 1px solid #ededed;
  text-align: center;
}
.right-content {
  margin-left: 200px;
  padding: 1em;
  color: #fff;
}
.title {
  font-size: 20px;
  line-height: 2em;
}

.nav-list-item {
  line-height: 2.5em;
  border-bottom: 1px solid #ededed;
}
